
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: areebaasif/frontend-service:1b047cc
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: frontend
                  key: mongo-uri
            - name: MONGO_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: MONGO_DB_NAME
            - name: NAME
              valueFrom:
                secretKeyRef:
                  name: frontend
                  key: NAME
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: frontend
                  key: PASSWORD
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            failureThreshold: 2
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000

